[Unit]
Description=ocm-deploy example watchdog service
After=network.target

[Service]
User=root
Group=root
Type=simple
Restart=always
RestartSec=10
WorkingDirectory=/git-work/ocm-deploy
ExecStart=/git-work/ocm-deploy/archiv/push-to-servers_upSnapWOL.sh

[Install]
WantedBy=multi-user.target
